.u-block-26c2-5 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + 533px);
  top: auto;
  right: auto;
  bottom: 250px;
}

.u-block-26c2-3 {
  position: absolute;
  left: 0;
}

.u-block-26c2-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-26c2-5 {
    left: calc(((100% - 940px) / 2)  + 433px);
  }
}

@media (max-width: 991px) {
  .u-block-26c2-5 {
    left: calc(((100% - 720px) / 2)  + 323px);
  }
}

@media (max-width: 767px) {
  .u-block-26c2-5 {
    left: calc(((100% - 540px) / 2)  + 233px);
  }
}

@media (max-width: 575px) {
  .u-block-26c2-5 {
    left: calc(((100% - 340px) / 2)  + 133px);
  }
}

 .u-section-1-1 {
  background-image: url("images/5a27082a98410d522056e71907f2144c0ec2e7583b5cddf2aad5128f9185e50e2b14df0ad2c7069b8afc83016aaeb73c6a821c55cc223b51e613a2_1280.jpg");
}

.u-section-1-1 .u-sheet-1 {
  min-height: 480px;
}

.u-section-1-1 .u-layout-wrap-1 {
  margin-top: 81px;
  margin-bottom: 24px;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 375px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-1 .u-text-1 {
  margin: 0;
}

.u-section-1-1 .u-text-2 {
  margin-left: 0;
  line-height: 2;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1-1 .u-layout-cell-2 {
  min-height: 375px;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px 17px 30px 22px;
}

.u-section-1-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1-1 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-1-1 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-1-1 .u-layout-cell-3 {
  min-height: 375px;
}

.u-section-1-1 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-1-1 .u-text-6 {
  margin: 0;
}

.u-section-1-1 .u-text-7 {
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-1-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 91px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-1-1 .u-icon-1 {
  height: 100%;
}

.u-section-1-1 .u-icon-2 {
  height: 100%;
}

.u-section-1-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 309px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-1-1 .u-layout-cell-3 {
    min-height: 309px;
  }

  .u-section-1-1 .u-social-icons-1 {
    margin-right: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 121px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 221px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-2 {
  background-image: url("images/5a27082a98410d522056e71907f2144c0ec2e7583b5cddf2aad5128f9185e50e2b14df0ad2c7069b8afc83016aaeb73c6a821c55cc223b51e613a2_1280-8.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1280px;
}

.u-section-2 .u-text-1 {
  margin: 38px 314px 0 337px;
}

.u-section-2 .u-image-1 {
  width: 102px;
  height: 102px;
  margin: 18px auto 0 187px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 16px 670px 0 78px;
}

.u-section-2 .u-text-3 {
  margin: 16px 621px 0 30px;
}

.u-section-2 .u-image-2 {
  width: 102px;
  height: 102px;
  margin: -316px 230px 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 10px 70px 0 679px;
}

.u-section-2 .u-text-5 {
  margin: 16px 21px 0 630px;
}

.u-section-2 .u-image-3 {
  width: 199px;
  height: 73px;
  margin: -101px auto 0 187px;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 10px 621px 0 127px;
}

.u-section-2 .u-text-7 {
  margin: 16px 573px 23px 78px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1055px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 214px;
    margin-left: 237px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 548px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 451px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 548px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 451px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 521px;
    margin-left: 27px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 451px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 104px;
    margin-left: 127px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 328px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 231px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 328px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 231px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 328px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 231px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 14px;
    margin-left: 37px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 148px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 51px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 148px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 51px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 148px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 51px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-left: 141px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }
}